<link rel="stylesheet" href="css/menu.css">
<style>
    .count{
        font-size: 1.5rem;
        color: #4e351b;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<br>
<br>
<br>
<br>
{{!-- <input type="hidden" name="id" id="name"/> --}}
<div class="menu">
    <div class="heading">
        <h1>CAFETERIA</h1>
        <h3>&mdash; MENU &mdash;</h3>
    </div>
    {{#each items}}
    <div style="display: flex;">
    <div class="food-items">
        <img src="{{itemImage}}" alt="">
        <div class="details">
            <div class="details-sub">
                <h5>{{itemName}}</h5>
                <h5 class="price"><i class="fa-solid fa-indian-rupee-sign"></i>{{itemPrice}}</h5>
            </div>
            <form action="/delete1/{{_id}}" method="POST">
                <input type="hidden" name="price" value="{{itemPrice}}" id="" />
                <button type="submit" class="card-title"><i class="fa-solid fa-trash"></i>Delete</button>
            </form>
        </div>
    </div>
    <div class="count">
        <h3>X</h3>
        <h1>{{count}}</h1>
    </div>
    </div>
    {{/each}}
</div>

<br>
    <h1>Total : {{money}}</h1>
    <form action="/pay" method="POST">
        <input type="hidden" name="money" value="{{money}}" id="" />
        <button type="submit" class="btn btn-outline-secondary" style="margin-left: 48%; font-size:15px;"><i class="fa-solid fa-trash"></i>Order</button>
    </form>
<br>
<br>

{{!-- <script src="js/nav.js"></script> --}}
