<div class="container">
    <form action="/edit/{{id}}" method="POST">
        <input type="text" value="{{id}}" name="id" style="display: none;" />
        <div class="form-group">
            <label for="exampleInputPassword1">Item Name</label>
            <input class="form-control" name="name" value="{{name}}" type="text" placeholder="Default input">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Item Image URL</label>
            <input class="form-control" name="image" value="{{image}}" type="text" placeholder="Default input">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Item Price</label>
            <input class="form-control" name="price" value="{{price}}" type="text" placeholder="Default input">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" name="desc"  id="exampleFormControlTextarea1" rows="3">{{description}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>