<br>
<br>
<link rel="stylesheet" href="css/menu.css">
<link rel="stylesheet" href="css/welcome.css">
<style>
    .indec {
        background-color: aliceblue;
        color: black;
    }
</style>
{{!-- <input type="hidden" name="id" id="name" /> --}}
<div class="ontainer">
    <div class="left-col">
        <h1>We don't make your coffee. <br>
            We make your day ✨</h1>
        <hr class="welcome">
        <img src="images/coffee2.0.png" alt="">
    </div>
    <div class="right-col">
        <img src="images/we-are-open.png" alt="">
        <hr class="welcome">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia molestiae incidunt numquam dolorum mollitia qui
            tenetur harum totam at perferendis.</p>
    </div>
</div>
<br>
<br>
<div class="conatiner" style="padding: 0px 30px;">
    <div class="input-group rounded">
        <form class="input-group rounded" action="/search" method="post">
            <input type="search" id="mix" name="name" class="form-control rounded search" onkeydown="hello()"
                placeholder="Search for anything...">
            <button class="btn" style="font-size: 2rem; padding: 0rem 0.75rem; color: #4e351b;" type="submit">
                <div class="fas fa-search" id="menu-btn"></div>
            </button>
        </form>
    </div>
</div>
<br>
<br>
<div class="menu">
    <div class="heading">
        <h1>CAFETERIA</h1>
        <h3>&mdash; MENU &mdash;</h3>
    </div>
    {{#each items}}
    <div class="food-items">
        <img src="{{itemImage}}" alt="">
        <div class="details">
            <div class="details-sub">
                <h5>{{itemName}}</h5>
                <h5 class="price"><i class="fa-solid fa-indian-rupee-sign"></i>{{itemPrice}}</h5>
            </div>
            <p>
                {{itemDescription}}
            </p>

            <form action="/addcart" method="POST">
                <input type="hidden" name="image" value="{{itemImage}}" id="" />
                <input type="hidden" name="name" value="{{itemName}}" id="" />
                <input type="hidden" name="price" value="{{itemPrice}}" id="" />
                <button><i class="fas fa-shopping-cart"></i>ADD TO CART</button>
                <br>
                <br>
                <div class="indec">
                    <button type="button" class="dec button">-</button>
                    <input type="text" id="1" value="1" class="input-field" name="count">
                    <button type="button" class="inc button">+</button>
                </div>
                {{!-- <input type="button" value="+" class="icon-shape icon-sm" onclick="increment()">
                <input id="demoInput" type="number" value="0" min=0 max=100 name="count">
                <input type="button" value="-" class="icon-shape icon-sm" class="indec" onclick="decrement()"> --}}
            </form>
        </div>
    </div>
    {{/each}}
</div>
<script src="/js/main.js"></script>

<script>
    var inc = document.getElementsByClassName("inc");
    var dec = document.getElementsByClassName("dec");

    for (var i = 0; i < inc.length; i++) {
        var button = inc[i];
        button.addEventListener("click", function(event) {
            var input = event.target.previousElementSibling;
            var value = parseInt(input.value, 10);
            value = isNaN(value) ? 0 : value;
            value++;
            input.value = value;
        });
    }
    for (var i = 0; i < dec.length; i++) {
        var button = dec[i];
        button.addEventListener("click", function(event) {
            var input = event.target.nextElementSibling;
            var value = parseInt(input.value, 10);
            value = isNaN(value) ? 0 : value;
            value--;
            if (value < 0) {
                value = 0;
            }
            input.value = value;
        });
    }
</script>
{{!--
<script src="js/nav.js"></script> --}}