<br>
<br>
<br>
<br>
<br>
<link rel="stylesheet" href="css/menu.css">
<link rel="stylesheet" href="css/welcome.css">
{{!-- <input type="hidden" name="id" id="name"/> --}}
<div class="menu">
    <div class="heading">
        <h1>CAFETERIA</h1>
        <h3>&mdash; ITEMS &mdash;</h3>
    </div>
    {{#each items}}
    <div class="food-items">
        <img src="{{itemImage}}" alt="">
        <div class="details">
            <div class="details-sub">
                <h5>{{itemName}}</h5>
                <h5 class="price"><i class="fa-solid fa-indian-rupee-sign"></i>{{itemPrice}}</h5>
            </div>
            <p>
                {{itemDescription}}
            </p>
                <input type="hidden" name="image" value="{{itemImage}}" id="" />
                <input type="hidden" name="name" value="{{itemName}}" id="" />
                <input type="hidden" name="price" value="{{itemPrice}}" id="" />
                <a href="/edit/{{_id}}"><button class=" card-title"><i class="fa-solid fa-pen"></i>Update</button></a>
                <form action="/delete/{{_id}}" method="POST">
                    <a href="/delete/{{_id}}"><button type="submit" class="card-title"><i
                                class="fa-solid fa-trash"></i>Delete</button></a>
                </form>
        </div>
    </div>
    {{/each}}
</div>

<div class="container" style="padding-bottom: 30px;">
    <a href="/additem" class="ad"><button class="btn btn-primary add">Add Item</button></a>
</div>

{{!-- <script src="js/nav.js"></script> --}}